:root {
  --main-color: #53547f;
  --secondary-color: #8f8f8f;
  --grey-color: #ebebeb;
  --light-color: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
}

.container {
  margin: 25px;
} 

@media (min-width: 924px) {
  .container {
    padding: 25px;
    margin: 0 auto;
    width: 924px;
  }
} 