:root {
  --main-color: #53547f;
  --secondary-color: #8f8f8f;
  --light-color: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
}

.container {
  margin: 25px;
} 