.weather-details__item {
  padding: 7px;
  margin-bottom: 5px;
  display: flex;
  border-radius: 2px;
  justify-content: space-between;
  align-items: flex-start;

  background-color: var(--secondary-color);
  color: var(--light-color);
}

.weather-details__property {
  font-family: "Roboto-Medium", "Arial", sans-serif;
  font-size: 11px;
  line-height: 1;

  margin-right: 20px;
}

.weather-details__value {
  font-family: "Roboto-Thin", "Arial", sans-serif;
  font-size: 11px;
  line-height: 1;
} 